.cont{
    background-color: rgb(32, 32, 32);
    height: 10vh;
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    margin-left: 20px;
    margin-right: 20px;
}
.img{
    display: inline;
    width: 32px;
    height: 32px;
}